<% include partials/head.ejs%>
  
   
<% include partials/navegation.ejs%>

    <div class="conatiner mt-5">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-header">
                     <h5 class="">Profile Image</h5>
                    </div>
                            <div class="card-body ">
                                    <img src="<%= image.path %>"  class="card-img-top" width="" height="500px" alt="...">
                                    <h5 class="card-title"> <%= image.title %> </h5>  
                                    <p class="card-text"> <%= image.description %></p> 
                                    <p class="card-text"><small class="text-muted"><%= format(image.created_at) %></small></p>
                                    <a href="/images/<%= image._id%>/delete" style="border-radius: 40px" class="btn btn-danger">Delete Image</a>
                          </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>



